body {
    font: 15px sans-serif;
}
.graph {
    text-align: center;
    margin-top: 100px;
}

.label {
    font-weight: bold;
}
.title{
    font-size: 30px;
}
.tile {
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.legend-text{
    font-size: 15px;
}

.tooltip {
    position: absolute;
    margin: 0;
    color:white;
    font-size: 15px;
    text-align: center;
    width: auto;
    height: auto;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    background-color: black;
}
.y-axes{

}